{% extends 'base.html' %}
{% load static %}
{% block body %} 
    <div class="blog">
        <div class="imgg" style="margin: auto;">
            <img src="{{blog_contents.img.url}}" alt="#">
        </div>

    </div>
    <div class="blog-text">
        <div class="main">
            <div class="content">
                <div class="all-text">
                    <h5 class="content-main">{{blog_contents.title}}</h5>
                    <h5 class="content-text">{{blog_contents.text}}</h5>
                    <div class="categry">
                        {% for cat in blog_contents.catergryy.all %}
                                <h5 class="cat">{{cat.title}}</h5>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="content">
                <h5 href="#" style="color: #eee; font-size: 35px;" class="content-main cattt">Categories</h5>
                <div style="    display: grid;
                padding-left: 73px;" class="all-text">
                    {% for caterg in catergries %}
                    <a style="color: #eee;
                    font-size: 25px;" href="#" class="content-text"> {{caterg.title}}</a>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>


    <div class="blog">
        <h5 class="content-mainn"> Comments</h5>
        {% for commnet in commnets %}
            <div class="user-comment">
                <div class="main" style="    width: 50%">
                    <div class="img">
                        <a href="">
                            
                            {% if commnet.user.user.profile.image %}
                                <img src="{{commnet.user.user.profile.image.url}}" alt="#">
                                
                            {% endif %}
                                
                        </a>
                    </div>
                    <div class="content">
                        <div class="all-text">
                            <h5 style="    font-size: 11px;margin-bottom: 8px;margin-right: 8px;" class="content-text"> @ {{commnet.user.user.username}}</h5>
                            <h5 class="content-main">{{commnet.user.user.first_name}} {{commnet.user.user.last_name}}</h5>
                            <p class="content-main"> {{commnet.comment}} </p>
                            <p class="content-main" style="text-align: end;">{{commnet.Created_At}}</p>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        <div class="user-comment" style="    padding-bottom: 100px;">
            <div class="main" style="    width: 30%;transform: translateX(-30%);    display: grid;">
                <h5 class="content-main"> Add Comment</h5>
                
                {% if user.is_authenticated  %}
                    <form method="POST" action="{% url 'blog:add_comment' blog_contents.slug %}">
                        {% csrf_token %}
                        <div class="content" style="    width: 100%;    padding-left: 0px;">
                            <textarea name="message" rows="8" cols="80"></textarea>
                        </div>
                        <div class="content" style="width: 161px;
                        color: #eee;
                        border: 2px solid var(--five-color);
                        padding: 10px;
                        text-align: center;
                        border-radius: 10px;
                        margin: 0 auto;
                        margin-top: 20px;">
                            <button type="submit" style="color: #eee; background: none;
                            border: none;
                            font-size: 30px;" >Submit</button>
                        </div>
                    </form>
                {% else %}
                    <h5>you must login to can add comment ? <a class="content-main" href="{% url 'accounts:login' %}" style="    color: #eee;
                        border: 1px solid var(--five-color);
                        padding: 4px;
                        border-radius: 10px;">Log IN</a></h5>
                {% endif %}
                    
            </div>
        </div>
    </div>
    {% endblock body %}